@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --orange: #FF9A3E;
    --light-orange: #FFBC96;
    font-size: 18px;
}

@media only screen and (min-width: 300px) {

    // for mobiles
    body {
        background: white;
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    p {
        color: white;
        margin-bottom: 0.5em;
        font-size: 1em;
    }

    .header {
        background: var(--orange);
        border-radius: 15px;
    }

    .basarili {
        justify-content: center;

        i {
            margin-top: -1.25em;
            padding: 0.5em;

            &:hover {
                cursor: pointer;
                color: #d8d8d8;
            }
        }

        .basarili-container {
            text-align: center;
            height: 230px;
            width: 230px;
            display: inline-block;
            box-shadow: 1px 1px 10px black;
            border-radius: 15px;

            p {
                padding: 0.75em 0.5em;
                color: black;
            }

            img {
                height: 100px;
                width: 100px;
            }

        }
    }

    .giris {
        padding: 1em 1.25em;

        .container {

            .container {

                border-radius: 15px;

                form {
                    display: flex;
                    flex-direction: column;
                    border-radius: 15px;

                    div {
                        background: var(--light-orange);
                        border-radius: 15px;
                        padding: 0.5em 1em;
                    }

                    input {
                        box-sizing: border-box;
                        padding: 1em;
                        margin: 0.75em 0;
                        border: none;
                        border-radius: 5px;
                        width: 100%;
                        font-size: 1em;
                    }

                    .button {
                        color: white;
                        font-size: 1em;
                        background: var(--light-orange);
                        border-radius: 15px;
                        width: auto;
                        padding: 0.5em 1em;
                        margin: 0.75em auto;
                    }
                }
            }
        }
    }

    .video {
        padding: 2.5em 1.25em;

        .container {
            display: flex;
            flex-direction: column;
        }

        p {
            margin-top: 0;
            margin-bottom: 1em;
        }

        a {
            text-align: center;
            text-decoration: none;
            color: white;
            font-size: 1em;
            background: var(--light-orange);
            border-radius: 15px;
            border: none;
            box-sizing: border-box;
            width: 100%;
            padding: 1.5em 2.5em;
        }
    }
}

@media only screen and (min-width: 768px) {

    // for tablets
    .giris {
        padding: 5em 7.5em;

        .button {
            padding: 3em 5em;
        }
    }

    .video {
        padding: 7.5em;
    }
}

@media screen and (min-width: 300px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        position: absolute;
        z-index: 0;
    }

    .button {
        &:hover {
            color: var(--light-orange) !important;
            background: white !important;
            cursor: pointer;
        }
    }

    .basarili {
        position: relative;
        z-index: 999;
        left: auto;
        right: auto;
        margin-top: 13%;
        display: none;

        .basarili-container {
            background: white;
        }
    }

    .video {
        display: none;
    }
}